<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_guarderia_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_guarderia_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuarderiaCiudadBolivar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AgregarIngredientes"
            android:exported="false" />
        <activity
            android:name=".EditarIngredientes"
            android:exported="false" />
        <activity
            android:name=".DetallesIngredientes"
            android:exported="false" />
        <activity
            android:name=".list_ingredientes"
            android:exported="false" />
        <activity
            android:name=".recuperar_password_3"
            android:exported="false" />
        <activity
            android:name=".recuperar_password_1"
            android:exported="false" />
        <activity
            android:name=".recuperar_password_2"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".ProfesorLogin"
            android:exported="false" />
        <activity
            android:name=".AdministradorLogin"
            android:exported="false" />
        <activity
            android:name=".Login_menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistorialChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".PagosActivity"
            android:exported="false" />
        <activity
            android:name=".CreditosActivity"
            android:exported="false" />
        <activity
            android:name=".InscripcionChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>